@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    height: 100vh;
}

h3{
  font-weight: 600;
  font-size: 1.3rem;
  font-family: sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.ql-editor{
    font-size: 1.05rem;
}

.ql-toolbar.ql-snow .ql-picker-label{
  color: gray !important;
  border: 1px solid gray !important;
  border-radius: 2px !important;
}

.post-content p{
  margin-bottom: 0.5rem;
  font-size: 18px;
}

.prose pre {
  background-color: #1e293b; /* Dark background */
  color: #a6e22e;           
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
}

/* Add this CSS to your styles for a dark background code block */
.code-block {
  background-color: #2d2d2d; /* Dark background */
  color: #ffffff; /* White text */
  padding: 16px; /* Spacing around the text */
  border-radius: 5px; /* Rounded corners */
  font-family: 'Fira Code', monospace; 
}

.post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
  }
  
  .post-content a:hover {
    text-decoration: underline;
  }
  
  .dark .post-content a {
    color: rgb(73, 149, 199);
  }

 /* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
  #notification-modal .scrollable-content::-webkit-scrollbar {
    width: 0; /* Removes scrollbar width */
  }

  /* Hide scrollbar for Firefox */
  #notification-modal .scrollable-content {
    scrollbar-width: none; /* Firefox */
  }

  /* Optional - Ensures the container is scrollable */
  #notification-modal .scrollable-content {
    overflow-y: auto; /* Allows vertical scrolling */
    max-height: 50vh; /* Prevents the modal from expanding beyond 80% of the viewport height */
  }


  .post-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    text-align:center;
    align-items: center;
  }

  .tech-stack-img{
    height: 200px !important;
    width: 300px !important;
  }

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  .animate-scroll {
    display: flex;
    flex-wrap: nowrap;
    animation: scroll 15s linear infinite;
  }
  
  .testimonial-carousel {
    white-space: nowrap;
  }
  

  .profile-pic{
    height: 200px !important;
    width: 200px !important;
    object-fit: cover !important;
    margin: 0 auto !important;
    display: block !important;

  }
  

  /* On mobile devices */
  @media only screen and (max-width:667px) {
    .profile-pic{
      height: 200px !important;
      width: 200px !important;
      object-fit: cover !important;
      margin: 0 auto !important;
      display: block !important;
      border-radius: 50% !important;
  
    }
  
}